{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Game</title>
        <link rel="stylesheet" href="{% static 'blog/login.css'%}">
        <link rel="stylesheet" href="{% static 'blog/xo.css'%}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->	
        <link rel="icon" type="image/png" href="{% static 'blog/images/icons/favicon.ico'%}"/>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'blog/vendor/bootstrap/css/bootstrap.min.css'%}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'blog/fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'blog/fonts/iconic/css/material-design-iconic-font.min.css'%}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'blog/vendor/animate/animate.css'%}">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="{% static 'blog/vendor/css-hamburgers/hamburgers.min.css'%}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'blog/vendor/animsition/css/animsition.min.css'%}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'blog/vendor/select2/select2.min.css'%}">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="{% static 'blog/vendor/daterangepicker/daterangepicker.css'%}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/util.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/main.css'%}">
    <!--===============================================================================================-->
    </head>

    <body>

        {% block content %}
        {% endblock content %}

        <!-- <script src="{% static 'blog/game.js'%}"></script> -->
        
        <!--===============================================================================================-->
        <script src="{% static 'blog/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'blog/vendor/animsition/js/animsition.min.js'%}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'blog/vendor/bootstrap/js/popper.js'%}"></script>
        <script src="{% static 'blog/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'blog/vendor/select2/select2.min.js'%}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'blog/vendor/daterangepicker/moment.min.js'%}"></script>
        <script src="{% static 'blog/vendor/daterangepicker/daterangepicker.js'%}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'blog/vendor/countdowntime/countdowntime.js'%}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'blog/js/main.js'%}"></script>
    </body>
</html>