{% extends "blog/general.html" %}
{% block content %}

<form method="POST">
    {% csrf_token %}

     <!-- Email input -->
     <div class="form-outline mb-4">
         <label class="form-label" for="username">Username</label>
       <input type="text" id="username" name="username" class="form-control" />
     </div>

     <!-- Password input -->
     <div class="form-outline mb-4">
        <label class="form-label" for="password">Password</label>
       <input type="password" id="password" name="password" class="form-control" />
     </div>

     <!-- Submit button -->
     <button type="submit" class="btn btn-primary btn-block mb-4">
       Log in
     </button>


   </form>

{% endblock content %}