{% extends "blog/general.html" %}
{% block content %}

<!-- <img class="p" src="/static/blog/gamer2.jpg">
<div class="nn">Creat you're fun</div>
<div class="form3"></div> -->

<form class="form2" method="POST">
    {% csrf_token %}
    <!-- <input class="nom" name="user" type"text" placeholder="your name" required><br>
    <input class="email" name="email" type="email" placeholder="your adress email" required><br>
    <input class="psd" name="password" type="password" placeholder="Password" required>
    <button class="btn3" type="submit">Login</button> -->
    {{ form }}

    <!-- <button class="btn3" type="submit">Login</button>  -->
    <button class="btn3" type="submit">Login2</button>
</form>

{% endblock content %}