body{
    background: rgb(96, 94, 94);
    justify-content: center;
}

#gene-cadre{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    width: 450px;
    margin: auto;
    margin-top: 3%;
}
.cadre_xo{
    display: flex;
    align-items: center;
    justify-content: center;
}

#info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.min-cadre{
    border: 3px solid white;
    height : 150px;
    line-height: 160px;
    text-align: center;
    font-size: 130px;
    font-family: Comic Sans MS;
    color: red;
}

#tour{
    color: plum;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px; 
    width: 400px;
}

#partie_de_botton{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#new_geme,#log_out{
    background: #03570e; 
    width: 140px;
    height: 50px;
    font-size: 15px;
    border-radius: 7px;
    color: #fff;
    border: none;
}

#log_out{
    background: #c31432; 
}


.jo{
    color: red;
    /* position: fixed; */
    width: 380px;
    height: 40px;
    /* border: 4px solid gray; */
    text-align: center;
    font-size: 30px;
    font-family:Rockwell ;
    border-radius: 20px;
}
/* .jo2{
    text-align: center;
    color: rgba(0, 0, 255, 0.877);
    position: fixed;
    width: 180px;
    height: 80px;
    border: 4px solid gray;
    top: 30%;
    left: 80%;
    font-size: 30px;
    font-family: Rockwell;
    border-radius: 20px;
} */